/admin/config.php
/admin/modules/*
/admin/upload/*
.idea/*
.idea
custom_pages/401.html
custom_pages/403.html
custom_pages/images/401.png
custom_pages/images/403.png
custom_pages/images/bg.png
custom_pages/images/uc.png
custom_pages/uc.html
includes/config.php
index.php
robots.txt
sitemap.php
view/
view/*
cache/twig/*
