<form method="post">
    <input type="hidden" name="password" />
    <h2>{%GT.HESAP_BILGILERI%}</h2>
	<label>{%GT.KULLANICI_ADI%}:</label>
	<input id="username" type="text" name="username" value="" />
	
	<label>{%GT.EPOSTA_ADRESI%}:</label>
	<input id="email" type="text" name="email" value="" />
	
	<label>{%GT.PAROLA%}:</label>
	<input id="password" type="password" />
	
	<label>{%GT.PAROLA%} ({%GT.TEKRAR%}):</label>
	<input id="password_again" type="password" />
	
	<br clear="all" /><br /><br />
	
	<h2>{%GT.ROLLERI%}:</h2>
	{%add_user_roles_html%}
	
	<button id="btnAddUser" type="submit" name="admin_action" value="addUser">{%GT.KULLANICI_EKLE%}</button>
</form>