<form method="post">
	<label>{%GT.SAYFA_ID_SI%}: (readonly)</label>
	<input type="text" readonly="readonly" name="page_id" value="{%smpage.page_id%}" />
	
	<label>{%GT.SAYFA_RESMI%}</label>
	<input type="file" name="page_image" value="{%smpage.page_image%}" />
	
	<label>{%GT.SAYFA_ADRESI%}: ({%GT.URL_ADRESI%})</label>
	<input type="text" name="page_url" value="{%smpage.page_url%}" maxlength="255" />
	
	<label>{%GT.GUNCELLENME_SIKLIGI%}:</label>
	<select name="changefreq" checked_option='{%smpage.changefreq%}'>
		<option value="always">{%GT.HER_ZAMAN%}</option>
		<option value="hourly">{%GT.HER_SAAT%}</option>
		<option value="daily">{%GT.HER_GUN%}</option>
		<option value="weekly">{%GT.HER_HAFTA%}</option>
		<option value="monthly">{%GT.HER_AY%}</option>
		<option value="yearly">{%GT.HER_YIL%}</option>
		<option value="never">{%GT.HICBIR_ZAMAN%}</option>
	</select>
	
	<label>{%GT.ONCELIK%}:</label>
	<input type="text" name="priority" value="{%smpage.priority%}" />
	
	<label>{%GT.SAYFA_BASLIGI%}: (title)</label>
	<input type="text" name="page_title" i18n="{%smpage.page_title%}" forcei18n maxlength="250" />
	
	<label>{%GT.SAYFA_ACIKLAMASI%}: (description)</label>
	<textarea name="page_description" i18n="{%smpage.page_description%}" forcei18n style="height:100px;" maxlength="250"></textarea>
	
	<button type="submit" name="admin_action" value="save_sitemap">{%GT.KAYDET%}</button>
</form>