<h2>{%GT.PROFIL_BILGILERI%}</h2>
<form method="post">
	<label>{%GT.PROFIL_RESMI%}:</label>
	<input type="file" fileid="{%useraccount.image_id%}" />
	
	<label>{%GT.GORUNEN_AD%}:</label>
	<input type="text" name="" value="{%useraccount.displayname%}" />
	
	<label>{%GT.DOGUM_TARIHI%}:</label>
	<input type="date" name="" value="{%useraccount.birthday%}" />
	
	<label>{%GT.KULLANICI_ADI%}:</label>
	<input type="text" name="" value="{%useraccount.username%}" />
	
	<label>{%GT.EPOSTA%}:</label>
	<input type="text" name="" value="{%useraccount.email%}" />
	
	<label>{%GT.UYELIK_TARIHI%}:</label>
	<input type="datetime" name="" value="{%useraccount.register_date%}" />
	
	<br clear="all" /><br /><br />
	{%user_roles_html%}
	
	<button type="submit" name="admin_action" value="update_useraccount">{%GT.KAYDET%}</button>
</form>


