<form>
	<label>Profil Resmi:</label>
	<input type="file" fileid="{%useraccount.image_id%}" />
	
	<label>Görünen Ad:</label>
	<input type="text" name="" value="{%useraccount.displayname%}" />
	
	<label>Doğum Tarihi:</label>
	<input type="date" name="" value="{%useraccount.birthday%}" />
	
	<label>Kullanıcı Adı:</label>
	<input type="text" name="" value="{%useraccount.username%}" />
	
	<label>E-Posta:</label>
	<input type="text" name="" value="{%useraccount.email%}" />
	
	<label>Üyelik Tarihi:</label>
	<input type="text" name="" value="{%useraccount.register_date%}" />
</form>