<h2>Diller</h2>
<form method="post">
	<div id="languagesList" class="itemsList">
		<ul>
			<%languagesHtmlList%>
		</ul>
	</div><!--itemsList-->
	<input type="submit" name="action" value="Kaydet" style="float:right;" />
</form>
<br clear="all" />
<form method="post">
	<label>Dil Kısaltması (Örnek: tr,en):</label>
	<input type="text" name="abbreviation" value="<%abbreviation%>" <%abbStatus%> />
	<label>Dil Adı:</label>
	<input type="text" name="name" value="<%languageName%>" />
	<input type="submit" name="action" value="<%editFormAction%>" />
</form>