<div id="userAccountsList" class="itemsList">
	<ul>
		<%usersListHtml%>
	</ul>
</div><!-- itemsList -->
<button style="float:right;" onclick="openAddUserForm()">Kişi Ekle</button>

<div id="addUserFormOuter" class="editFormOuter" style="display:none;">
	<form method="post" onsubmit="return checkUserInfo();">
		<input type="hidden" name="password" />
		<label>Kullanıcı Adı:</label>
		<input id="username" type="text" name="username" /><div id="usernameLoader" class="portableALBOuter"><img src="<%VIEW_URL%>images/loader.gif" /><p></p></div>
		<label>Görünen Ad:</label>
		<input id="displayname" type="text" name="displayname" />
		<label>Parola:</label>
		<input id="password" type="password" />
		<label>Parola (tekrar):</label>
		<input id="password_again" type="password" />
		<label>E-Posta:</label>
		<input id="email" type="text" name="email" /><div id="emailCheckLoader" class="portableALBOuter"><img src="<%VIEW_URL%>images/loader.gif" /><p></p></div>
		<label>Kulanıcı Tipi:</label>
		<select name="user_type">
			<%user_typesHtml%>
		</select>
		<input type="submit" name="pa_action" value="Ekle" />
	</form>
</div><!-- editFormOuter -->